{%extends 'base.html'%}
{%load static%}
{%block styles%}
<link rel="stylesheet" href="{% static 'css/authentication.css' %}" xmlns="http://www.w3.org/1999/html">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
{%endblock%}
{%block content%}

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        {%csrf_token%}
        <h3>We're sent email with instructions to your email :)</h3>

    </form>


{%endblock%}