{%extends 'base.html'%}

{%block content%}
<h1>This is my first backend practice. Now all fronted is not so good</h1>
<h2>Maybe in the future when I'll practice js or something I'll do frontend, I hope ^)</h2>
<h2>In backend you can see catalog, cart, authentication(without jwt, 'cause I not used rest_fraemwork), cart(but cart I save only in session, 'cause I think this way is more difficult)</h2>
<h2>But also I did a function, which create and save order, but I haven't opportunities to add pay system</h2>
<h2>Also I haven't opportunities to check order status, 'cause I don't have any equipment for this.</h2>
<h2>Finally, I connect SMTP to my project and I realized function, which generate PDF with order information and send this to user.</h2>
{%endblock%}