{%extends 'home_page.html'%}
{%load static%}

<body>
{%block content%}
<title>Partners</title>
{%for company in companys%}
<div class="card-group">
    <div class="card">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{company.nameOfCopmany}}</h5>
        <p class="card-text">{{company.Descripton}}</p>
        <a href="{{company.get_absolute_url}}" class="btn btn-primary">To see products</a>
      </div>
    </div>
{%endfor%}
{%endblock%}
</body>
</html>