{%extends 'base.html'%}
{% load static %}
{%block content%}
{%block styles%}

<link rel="stylesheet" href="{%static 'css/product_page.css'%}">

{%endblock%}
<form method="post" action="{%url 'cart:cart_add' product.id%}">
    {%csrf_token%}
    <div class="card">
    <img src="{{product.photo.url}}" alt="Trainers" class="product_image">


    <h1>{{product.productModel}}</h1>
    <p class="price">{{product.cost}}</p>
    <p>{{product.descripton}}</p>
    {{ cart_product_form.as_p}}
    <p><button>Add to Cart</button></p>
</div>
</form>
{%endblock%}